
@{
    ViewData["Title"] = "ELM";
}



    <head>
        <script src="main.js"></script>
    </head>
    <body>
        <h2>ELM</h2>
        <p>In progress | coming soon</p>
        <div id="elm"></div>
        <script>
            var app = Elm.Main.init({
                node: document.getElementById('elm')
            });
        </script>
    </body>

    @*https://guide.elm-lang.org/install/elm.html*@
