@{
    ViewData["Title"] = "Home Page";
}
    <head>
        <script src="~/js/particles.js"></script>
    </head>
    <body id="particles-js" class="bg">
        <div class="bg">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title"  style="padding-top:75px;">Project34</h1>
                            <p style="font-size:medium;">
                                Project34 is a Detroit-based software development and design studio.
                                We specialize in:
                            </p>
                            <ul>
                                <li>API Development (.Net CORE)</li>
                                <li>Unity design & development</li>
                                <li>Azure cloud infrastructure & archetecture</li>
                                <li>Elixir development</li>
                                <li>DEV|SEC|OPS lifecycle</li>
                                <li>Quality game testing and reporting</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="~/images/corporateJinx.png" alt="Jinx" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>