@{
    ViewData["Title"] = "Privacy Policy ";
}

<head>
    <script src="./js/particles.js"></script>
</head>

<body id="particles-js" class="bg">
    <h2>@ViewData["Title"]</h2>

    <p>Use this page to detail your site's privacy policy.</p>
</body>